
.dashboard-container {
    margin-left:19%; 
    padding: 20px;
    /* background-color: hsl(0, 0%, 96%); */
    min-height: 100vh;
}

.dashboard-content {
    /* background-color: white; */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}


@media(max-width:900px){
    .dashboard-container{
        margin-left: 0%;
        /* background-color: red; */
        width: 100%;
    }
    
}