/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --mainColor: #1A1A1D;
    --mainColorLight: #4E4E50;
    --secondaryColor: #6F2232;
    --textColor: #E5E5E5;
    --activeColor: #7F00FF;
    --backgroundColor: #080808;
    --heading-h1-font-size: 2.5rem;
    --heading-h2-font-size: 2rem;
    --heading-h3-font-size: 1.5rem;
    --link-spacing: 15px;
    --buttombgcolor:#9C51A0;

}

/* Dashboard container */
.dashboard-container {
    margin-left: 19%;
    padding: 20px;
    height: 100%;
    /* background-color: var(--backgroundColor); */
}

/* Dashboard content */
.dashboard-content {
    padding: 20px;
    border-radius: 8px;
}

.personalinfo{
    /* background-color: red; */
    height: 100vh;
}


/* Settings heading */
.settingsheading h1 {
    font-size: var(--heading-h2-font-size);
    font-weight: normal;
    color: var(--textColor);
    margin-bottom: 20px;
}

/* Settings content */
.settingscontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--link-spacing);
    margin-right: 5%;
    border-bottom: 3px solid var(--mainColorLight);
}

.settingtitle {
    font-size: var(--heading-h3-font-size);
    color: var(--textColor);
    text-decoration: none;
    transition: color 0.3s ease;
}

.settingtitle:hover {
    color: var(--mainColorLight);
}

.usericon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 15%;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
    background-color: var(--textColor);
}
.fonticon{
    width: 3vw;
    height: 10vh;
    color: var(--backgroundColor);
}
input[type="file"] {
    display: none;
}

label[for="image"] {
    margin: 5% 0;
    background-color: var(--buttombgcolor);
    color:var(--backgroundColor);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--heading-h3-font-size);
    transition: background-color 0.3s ease;
}

label[for="image"]:hover {
    background-color: var(--mainColorLight);
}

/* Media Queries for Responsive Design */
@media (max-width: 900px) {
    .dashboard-container {
        margin-left: 0;
        width: 100%;
    }

    .settingscontent {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .usericon{
        width: 25%;
        height: 20%;
    }
    .fonticon{
        width: 10vw;
    }
    .dashboard-container {
        padding: 10px;
    }

    .settingsheading h1 {
        font-size: 1.8rem;
    }

    .settingtitle {
        font-size: 1.2rem;
        text-align: center;
    }
}
